	  <!-- Main Header -->
	  <header class="main-header">
        <!-- Logo -->
        <a href="/" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>CSD</b></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>CSD</b> Charmander</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              
              <!-- Notifications: style can be found in dropdown.less -->
              <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-warning" id="notificationTotal"></span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header" id="notificationHeader"></li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu" id="notificationList">
                    </ul>
                  </li>
                  <li class="footer"><a href="#">Close</a></li>
                </ul>
              </li>
              
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img id="profile_image" src="/static/img/avatar/<%=userid %>.jpg" class="user-image" alt="User Image" onerror="this.src='/static/img/avatar/default.jpg'">
                  <span class="hidden-xs"><%=username %></span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img id="profile_image3" src="/static/img/avatar/<%=userid %>.jpg" class="img-circle" alt="User Image" onerror="this.src='/static/img/avatar/default.jpg'">
                    <p>
                      <%=username %> - Physician
                      <small>Member since <%=membersince %></small>
                    </p>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">Close</a>
                    </div>
                    <div class="pull-right">
                      <a href="/user/signout" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>